@page "/Counter"
@using Blazor.UI.Components.PageComponents
@using Blazor.UI.Models
@using Blazor.UI.Models.Entities
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<br />

<NavigateHome />
<br />

<button class="btn btn-primary btn-space" @onclick="@( () => DataSource.IncrementCount() )"><i class="bi bi-plus-circle"></i> Add Count</button>
<button class="btn btn-primary btn-space" @onclick="@( () => DataSource.ResetCount())"><i class="bi bi-arrow-clockwise"></i> Reset</button>
<br />

<CounterGrid DataSource="DataSource" />

@code {
    [Inject] NavigationManager _navManager { get; set; } = default!;

    Count DataSource = new Count();

    void NavigateTo()
    {
        _navManager.NavigateTo("/"); 
    }
}
