@page "/Transaction"
@using Blazor.UI.Components.PageComponents
@using Blazor.UI.Components.TransactionComponents
@using Blazor.UI.Models.VMs
@using Blazor.UI.Services
@attribute [StreamRendering]
@rendermode InteractiveServer

<h2>Transaction Page</h2>

<NavigateHome />

<TransactionGrid />

@code {
    [Inject] TransactionService _services { get; set; } = default!;

    private TransactionVM DataSource { get; set; } = new();
    

}
