@page "/Transaction"
@using Blazor.Core.Models.Settings
@using Blazor.UI.Components.PageComponents
@using Blazor.UI.Components.TransactionComponents
@using Blazor.UI.Services
@attribute [StreamRendering]
@rendermode InteractiveServer

<h2>Transaction Page</h2>

<NavigateHome />

@if (DataSource.Loading)
{
    <LoadingComponent />
}
else
{
    
    <TransactionGrid DataSet="@DataSource.DataSet" />
    <br />

    @* <TransactionRecord DataSet="@DataSource.DataRecord" /> *@
}


@code {
    [Inject] TransactionService _services { get; set; } = default!;

    private TransactionSettings DataSource { get; set; } = new();
    
    protected override async Task OnInitializedAsync() {
        DataSource.DataSet = await _services.GetAllRecordsAsync();
        @* DataSource.DataRecord = await _services.GetRecordByIdAsync(1); *@
        if(DataSource != null && DataSource.DataSet != null && DataSource.DataSet.Any() )
        {
            DataSource.UnsetLoading();
        }

    }
}

