@using Blazor.Core.Models.Entities
@using Blazor.Core.Models.Settings

<h3>TransactionRecord</h3>

@if(DataSet != null && DataSet.Any() ) { 
    <table class="table">
        <tr>
            <thead>
                <td>Id</td>
                <td>name</td>
            </thead>
        </tr>

        @foreach(var item in DataSet) {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }        

    </table>
} else  {
    <p>No DataSet is Available</p>
}

@code {
    [Parameter] public List<CRUDTransactionDTO> DataSet {get; set;}
}