@using Blazor.Core.Models.Entities
@using Blazor.Core.Models.Settings
@using System.Data
@using System.ComponentModel.DataAnnotations

@if(DataSet != null && DataSet.Any() ) { 
    
    <RadzenDataGrid Data="@DataSet" TItem="CRUDTransactionDTO"
            AllowColumnResize="true" 
            AllowAlternatingRows="false" 
            AllowSorting="true" 
            FilterMode="FilterMode.Advanced" 
            PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
            AllowPaging="true" PageSize="20" 
            ColumnWidth="200px" LogicalFilterOperator="LogicalFilterOperator.Or"
            >
            <HeaderTemplate>
                <RadzenStack>
                    <RadzenButton Text="Add"> <i class="bi bi-plus-circle">Add</i> </RadzenButton>
                </RadzenStack>
            </HeaderTemplate>
        <Columns>
            <RadzenDataGridColumn TItem="CRUDTransactionDTO" Property="Id" Title="Id" Frozen="true"  />
            <RadzenDataGridColumn TItem="CRUDTransactionDTO" Property="Name" Title="Name" Frozen="true"  />
            <RadzenDataGridColumn >
                <Template>
                    @{
                        <RadzenButton> <i class="bi bi-pencil-square">Edit</i> </RadzenButton>
                        <RadzenButton> <i class="bi bi-x-lg">Delete</i> </RadzenButton>
                    }
                </Template>
            </RadzenDataGridColumn>

        </Columns>
    </RadzenDataGrid>
@* 
    <table class="table">
        <tr>
            <thead>
                <td>Id</td>
                <td>name</td>
            </thead>
        </tr>

        @foreach(var item in DataSet) {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>
        }        

    </table> *@
} else  {
    <p>No DataSet is Available</p>
}

@code {
    [Parameter] public List<CRUDTransactionDTO>? DataSet {get; set;}
}    
