@using Blazor.Core.Helpers
@using Blazor.Core.Models.Entities
@using Blazor.Core.Models.Settings
@using System.Data
@using System.ComponentModel.DataAnnotations
@using Blazor.UI.Services
@using Radzen.Blazor.Rendering
@inject DialogService DialogService
@rendermode InteractiveServer
<RadzenComponents  />
<RadzenDialog />

@if(DataSet != null && DataSet.Any() ) { 
    
    <RadzenDataGrid Data="@DataSet" TItem="CRUDTransactionDTO"
            AllowColumnResize="true" 
            AllowAlternatingRows="false" 
            AllowSorting="true" Count="@DataSet.Count()"
            PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
            AllowPaging="true" PageSize="5" 
            ColumnWidth="200px" 
            >
            <HeaderTemplate>
                <RadzenStack>
                    <RadzenButton  Text="Add" Click="AddRecord"> <i class="bi bi-plus-circle">Add</i> </RadzenButton>
                </RadzenStack>
            </HeaderTemplate>
        <Columns>
            <RadzenDataGridColumn TItem="CRUDTransactionDTO" Property="Id" Title="Id" Frozen="true"  />
            <RadzenDataGridColumn TItem="CRUDTransactionDTO" Property="Name" Title="Name" Frozen="true"  />
            <RadzenDataGridColumn >
                <Template>
                    @{
                        var dataContext = context.Id; 
                        <RadzenButton Click="@( args => EditRecord( args, dataContext) )"> <i class="bi bi-pencil-square">Edit</i> </RadzenButton>
                        <RadzenButton Text="Confirm dialog" ButtonStyle="ButtonStyle.Secondary" Click=@( args => ConfirmButton( args, dataContext) ) > 
                            <i class="bi bi-x-lg">Delete</i> </RadzenButton>
                    }
                </Template>
            </RadzenDataGridColumn>

        </Columns>
    </RadzenDataGrid>

} else  {
    <p>No DataSet is Available</p>
}

@code {
    [Parameter] public List<CRUDTransactionDTO>? DataSet {get; set;}
    [Inject] TransactionService service {get; set;} = default!;

    private async Task AddRecord(MouseEventArgs args) {
        Console.WriteLine($"AddRecord: {System.DateTime.Now}");        
        await service.CreateRecordAsync( new CRUDTransactionDTO{ Name = $"Tony Test{System.DateTime.Now}"});
        DataSet = await service.GetAllRecordsAsync();
    }

    private async Task EditRecord(MouseEventArgs args, int id) {
        Console.WriteLine($"EditRecord: {System.DateTime.Now}");        
        await service.UpdateRecordAsync( new CRUDTransactionDTO{ Id = id, Name = $"Tony Test{System.DateTime.Now}"});
        DataSet = await service.GetAllRecordsAsync();
    }

    private async Task ConfirmButton(MouseEventArgs args, int id) {
        var getConfirm = await DialogService.Confirm($"{PageStatics.ConfirmDelete}", "MyTitle", 
                            new ConfirmOptions() { OkButtonText = $"{PageStatics.ConfirmYes}", CancelButtonText = $"{PageStatics.ConfirmCancel}" });

        if(getConfirm != null && (bool)getConfirm) {
            await service.DeleteRecordAsync(id); 
            DataSet = await service.GetAllRecordsAsync();
        }
    }
}    
